/* General Navbar Styles */
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
    padding: 16px 50px;
    color: #09101d;
    z-index: 100;
    max-width: 1536px;
    margin: auto;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 60px;
}
.navbar-logo > img {
    height: 45px;
}
.navbar-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-links > ul {
    display: flex;
    list-style: none;
    z-index: 100;
}

.navbar-links-item {
    margin-left: 2rem;
}

.navbar-links-item a  {
    text-decoration: none;
    color: #09101d;
    font-size: 15px;
    font-weight: 400;
}
.navbar-links-item.active a  {
    font-weight: 600;
    color: #088340;
}
.navbar-links button {
    justify-self: center;
    padding: 10px 16px;
    border: 0px;
    border-radius: 8px;
    color: white;
    background: #088340;
    cursor: pointer;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle-icon {
    width: 25px;
    height: 3px;
    background-color: #09101d;
    margin: 4px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 14px 24px;
        justify-content: space-between;
    }
    .navbar-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
    }

    .navbar-links.open {
        max-height: 200px;
        padding: 24px;
    }

    .navbar-links ul {
        flex-direction: column;
        margin-bottom: 12px;
    }
    .navbar-links li {
        text-align: center;
        margin: 12px;
    }

    .navbar-toggle {
        display: flex;
    }
}
